@model Category;

<div class='editCat'>
    @* Title *@
    <div class="editCat__title">
        <span class='h2'>_launchPad.</span>
        <span class='h3'>administration</span>
        <a asp-controller="Login" asp-action="Logout"><input type="submit" value="Logout" class="btn btn-light"/></a>
        <span id="lblExpire" class="text-warning" style="margin-left:20px"></span>
    </div>

    @* Header *@
    <div class="editCat__header">
        <h4  class="text-warning">Edit Category.</h4>
        <div style="margin-bottom:10px">Edit the category data below:</div>
    </div>

    @* Form *@
    <form method="post">
      <div class="form-group">
            <input type="hidden" name="categoryID" asp-for="@Model.categoryID">

            <label>Name</label>
            <input type="text" asp-for="@Model.categoryName" value="@Model.categoryName"  class="form-control" maxlength="100" />
            <span asp-validation-for="@Model.categoryName" class="text-danger"></span>  
            <br>
            
            <input type="submit" asp-controller="Admin" asp-action="EditCategorySubmit" class="btn btn-warning" value="Edit" />
            <a asp-controller="Admin" asp-action="Index"><input type="button" class="btn btn-warning" value="Cancel"/></a>
      </div>
    </form>
</div>

@section scripts {
    <script>
        startAutoLogout();
    </script>
}