@model LinkManager;

<div class="row mb-2">
    <div class="col">
        <h4>Technology</h2>
    </div>
    <div class="col">
        <h4>School</h2>

    </div>
    <div class="col">
        <h4>Play</h2>

    </div>
    <div class="col">
        <h4>Data</h2>
    </div>

</div>

<div class="row">
    <div class="col text-info">
        @ViewData["feedback"]
    </div>
</div>
