body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  max-width: 280px;
}

a {
  color: #727171;
  text-decoration: none;
}

.title a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  max-width: fit-content;
  /* margin-right: 2px; */
}

.h3 {
  font-size: 80%;
}

.link__category-header {
  margin-right: 10px;
}

.icon {
  width: 100%;
}

.deleteLink .row {
  margin-left: 3px;  
}

 